* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
}

@keyframes float{
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-30px);
	}

	100% {
		transform: translateY(0px);
	}

}

.container {
	display: flex;
	background: linear-gradient(to bottom,  rgba(215, 162, 44, 0.9) 0%, rgba(215, 140, 44, 0.9)     60%, rgba(215, 96, 44, 0.9) 200%);
	position: relative;
	padding: 0 3rem;
	margin: auto;
	overflow: hidden;
}

.showcase-inner {
	padding-top: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.center h1 {
	font-size: 4rem;
}

.center p {
	font-size: 1.3rem;
}

.btn {
	display: inline-block;
	border: none;
	background: black;
	color: #fff;
	padding:  0.75rem 1.5rem;
	margin-top: 1.5rem;
	transition: opacity 1s ease-in-out;
	text-decoration: none;
}

.btn:hover {
	opacity: 0.6;
}


.left {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(0px);
	animation: float 6s ease-in-out infinite;
	img {width: 100%; height: auto;}
}

.center {
	width: 60%;
	color: #fff;
	height: 100vh;
}


.right {
	width: 20%;display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(0px);
	animation: float 6s ease-in-out infinite;
	img {width: 100%; height: auto;}
}
